body{
    margin:0px;
}



.top-section{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    margin:0;
    padding-top:40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 70px;
    color:white;
}

.navbar{
    padding-right:5%;
    padding-left:3%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.navbar-logo{
    max-width: 50px;
    max-height: auto;;
}




.top-div {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:100px;
}

.HeaderText{
    grid-column: 1/2;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

.login-form-wrapper{
    margin-top: 8%;
    display:block;
}

.signup-form-wrapper{
    margin-top:8%;
    display:none;
}

.hide {
    opacity: 0;
    transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    
}

.show {
    opacity: 1;
    transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
  }

.input{
    width:80%;
    height:40px;
    margin-bottom: 2%;
    display: block;
}

.submit{
    display: inline;
    text-align: center;
    margin-top:5%;
    margin-left: auto;
    margin-left: auto;
}

.header-image{
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.image-wrapper{
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.text-wrapper{
    max-width: 80%;
    margin-top: 5%;
    text-align: left;
    color:white;
}



