.page-body{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}
#profile-container {
    position: fixed;
    display:inline-block;
    height:100%;
    width: 20%;
    grid-column: 1/2;
    text-align: center;
    padding:10px;
    background-color:aliceblue;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,rgb(63, 56, 201), rgb(0, 157, 255) 100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,rgb(63, 56, 201), rgb(0, 157, 255) 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.brand-image {
    display:inline;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.nav-item{
    padding-bottom: 30%;
    font-size: 15px;
}
.nav-link{
    font-family: 'Rubik', sans-serif;
    color:white;
}
.top-bar{
    position:relative;
    grid-row:1/2;
    grid-column:2/9;
    padding-top: 1%;
    padding-right: 1%;
}
.bell-icon{
    color: white;
    float:right;
    text-align: center;
    width:45px;
    height:45px;
    padding-top: 15px;
    margin-right:40px;
    border-radius: 50%;
    background-color:rgb(16, 0, 95);
    transition: 0.3s;
}
.bell-icon:hover{
    color: aqua;
    background-color: rgb(2, 40, 208);
}

.bell-icon .badge {
    position: absolute;
    display:none;
    top: 25px;
    right: 150px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }

.pfp-container{
    float:right;
}
.profile-image{
    display:inline-block;
    width:50px;
    height:50px;
    border-radius: 50%;
    border-style:solid;
    border-color: brown;
}
.user-content{
    position:relative;
    grid-column: 2/6;
    padding: 3%;
    height: 100%;
    width: 100%;
}

.header-title{
    font-family: 'Roboto' sans-serif;
    text-align:auto; 
    padding: 0.5%;
    color:rgb(97, 0, 0);
}

.card{
    display:inline-block;
    margin:3%;
    height:auto;
    background-color:#d56d12;
    color:white;
    border-radius: 20px;
}

.card-img-top{
    max-height: 200px;
}

.jobPage-button{
    padding:10px;
    margin:2%;
    width:45%;
    border-radius: 10px;
}

.overlay{
    margin:1%;
    position:absolute;
    top:80%;
    right:10%;
    max-height:200%;
    min-height:7%;
    width:35%;
    overflow:-moz-hidden-unscrollable;
    overflow-y:scroll;
    display:none;
    padding:1%;
    z-index: 1;
    background:#d56d12;
    color:rgb(255, 255, 255);
    border-radius: 10px;
}

.profile-information{
    grid-column: 2/6;
    padding:5%;
    font-family: 'Roboto',sans-serif;
}

.table{
    margin-top:4%;
    font-family: 'Poppins', sans-serif;
}
.form-group{
    margin-bottom: 4%;
    margin-top:4%;
}

.btn{
    max-width:200px;
}

.chatpagecontent{
    margin-top:5%;
    margin-right:3%;
    grid-column: 2/6;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
}
.active-chats{
    grid-column: 1/2;
}
.chat-window{
    grid-column: 2/5;
    border-style: solid;
    border-width:2px;
    min-height:70vh;
}

.button-filter{
    border-radius: 10px;
    background-color: blue
}