.page-body{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}
#profile-container {
    position: fixed;
    display:inline-block;
    height:100%;
    width: 20%;
    grid-column: 1/2;
    text-align: center;
    padding:10px;
    background-color:aliceblue;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,rgb(63, 56, 201), rgb(0, 157, 255) 100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,rgb(63, 56, 201), rgb(0, 157, 255) 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#profile-image {
    display:inline;
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid brown;
}

#profile-name {
    display:inline;
    margin-top: 10px;
    margin-right:20px;
    margin-left:20px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

.nav-item{
    padding-bottom: 40%;
}

.nav-link{
    font-size:15px;
}   

.user-content{
    position:relative;
    grid-column: 2/6;
    padding: 3%;
    height: 100%;
    width: 100%;
}

.header-title{
    font-family: 'Roboto' sans-serif;
    padding: 2%;
    color:rgb(97, 0, 0);
}

.card{
    display:inline-block;
    margin:3%;
    height:auto;
    background-color:#d56d12;
    color:white;
    border-radius: 20px;
}

.card-img-top{
    max-height: 200px;

}

.jobPage-button{
    padding:10px;
    margin:2%;
    width:40%;
    border-radius: 10px;
}

.overlay {
    position: fixed; 
    display: block; 
    text-align: center;
    width: 50%; 
    height: 50%; 
    margin:auto;
    background-color: snow;
    z-index: 2; 
    cursor: pointer; 
  }