body {
    background-color: #f4f4f4;
}

.page-body{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 60px;
}
#profile-container {
    position: relative;
    display:inline-block;
    height:100vh;
    grid-column: 1/2;
    text-align: center;
    padding:10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
#profile-image {
    display:inline;
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid brown;
}

#profile-name {
    display:inline;
    margin-top: 10px;
    margin-right:20px;
    font-size: 18px;
    color: #333;
}

.nav-item{
    padding-bottom: 40%;
}

.user-content{
    position:relative;
    display: inline-block;
    grid-column: 2/6;
    padding-top:30px;
}

.card{
    display:inline-block;
    margin:3%;
    height:auto;
}

.card-img-top{
    max-height: 150px;
    width:auto;
}

.jobPage-button{
    padding:10px;
    margin:2%;
    width:40%;
}